{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <caption>List of topics</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Description</th>
            <th>Duration</th>
            <th>DurationCategory</th>
            <th>CurrentPlace</th>
            <th>UserPresenter</th>
            <th>Meetup label</th>
            <th>Meetup start date</th>
            <th>Meetup end date</th>
            <th>Meetup agency</th>
            {# ROLE_BOARD_USER part ########################################## START #}
            {% if is_granted('ROLE_BOARD_USER') %}
                <th>UserProposer</th>
                <th>UserReviewer</th>
                <th>ReviewedAt</th>
                <th>PublishedAt</th>
            {% endif %}
            {# ROLE_BOARD_USER part ########################################## END #}
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.label }}</td>
                <td>{{ topic.description }}</td>
                <td>{{ topic.duration ? topic.duration.format('%h:%I') : '' }}</td>
                <td>{{ topic.durationCategory ? topic.durationCategory.value : '' }}</td>
                <td>{{ topic.currentPlace }}</td>
                <td>{{ topic.userPresenter }}</td>
                <td>{{ topic.meetupLabel ? topic.meetupLabel : '' }}</td>
                <td>{{ topic.meetupStartDate ? topic.meetupStartDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ topic.meetupEndDate ? topic.meetupEndDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ topic.meetupAgency ? topic.meetupAgency : '' }}</td>
                {# ROLE_BOARD_USER part ########################################## START #}
                {% if is_granted('ROLE_BOARD_USER') %}
                    <td>{{ topic.userProposer is defined ? topic.userProposer : '' }}</td>
                    <td>{{ topic.userReviewer is defined ? topic.userReviewer : '' }}</td>
                    <td>{{ topic.reviewedAt is defined ? topic.reviewedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ topic.publishedAt is defined ? topic.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                {% endif %}
                {# ROLE_BOARD_USER part ########################################## END #}
                <td>{{ topic.createdAt ? topic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ topic.updatedAt ? topic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('topic_show', {'id': topic.id}) }}">show</a>
                    <a href="{{ path('topic_edit', {'id': topic.id}) }}">edit</a>
                    {{ include('topic/_delete_form.html.twig') }}

                    {% if topic.currentPlace == 'draft' %}
                        <form method="post" action="{{ path('topic_ask_for_review', {'id': topic.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('ask_for_review' ~ topic.id) }}">
                        <button type="submit">Ask for review</button>
                        </form>
                    {% elseif is_granted('ROLE_BOARD_USER') %}
                        {% if topic.currentPlace == 'published' %}
                            <form method="post" action="{{ path('topic_roll_back_to_review', {'id': topic.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('roll_back_to_review' ~ topic.id) }}">
                                <button type="submit">Roll back to review</button>
                            </form>
                        {% else %}
                            <form method="post" action="{{ path('topic_reject_to_draft', {'id': topic.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('reject_to_draft' ~ topic.id) }}">
                                <button type="submit">Reject to draft</button>
                            </form>
                        {% endif %}
                        {% if topic.currentPlace != 'published' %}
                            <form method="post" action="{{ path('topic_publish', {'id': topic.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('publish' ~ topic.id) }}">
                                <button type="submit">Publish</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('topic_create') }}">Create new</a>
{% endblock %}
