{% extends 'base.html.twig' %}

{% block body %}
    <h2>Hi! You are about to login to Techtalk...</h2>

    {#    <form action="{{ path('login_check') }}" method="POST"> #}
    {#        <input type="hidden" name="expires" value="{{ expires }}"> #}
    {#        <input type="hidden" name="user" value="{{ user_email }}"> #}
    {#        <input type="hidden" name="hash" value="{{ hash }}"> #}
    {#        <input type="submit" value="Continue"> #}
    {#    </form> #}

    {{ form_start(form) }}
    {{ form_row(form.expires) }}
    {{ form_row(form.user_email) }}
    {{ form_row(form.hash) }}
    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}