{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>Reset password</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {#        {{ form_row(form.plainPassword.first) }} #}
    {#        {{ form_row(form.plainPassword.second) }} #}

{#    {{ dump(form) }}#}

    <button type="submit" class="btn">Reset</button>
    {{ form_end(form) }}
{% endblock %}
